<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /addwise_7/addwise_4/addwise_1/api/users/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>
